/* background needs to be dark */

@font-face {
    font-family: 'Motherish';
    src: url('../fnt/Motherish-Medium.ttf');

}

body {
  background-color: #01161E;
  font-family: 'Motherish', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

nav {
    background-color: #293141;
    position: fixed;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #F58A07;
}

h1 {
    font-size: 3em; /* 40px/16=2.5em */
}

h2 {
    font-size: 2em; /* 30px/16=1.875em */
}

p {
    font-size: 1em; /* 14px/16=0.875em */
}

.blue
{
    color: #6CD4FF;
}

.green
{
    color: #23CE6B;
}

/* logo needs to be big and centered */
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.logo {
    background-color: #364156;
    text-align: center;
}

.center
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* A 3x3 grid of images, all the same size.
    The images are responsive (resize according to screen size) */
.collage {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #364156;
    padding: 10px;
}