/* background needs to be dark */

@font-face {
    font-family: 'Motherish';
    src: url('../fnt/Motherish-Medium.ttf');

}

body {
  background-color: #01161E;
  font-family: 'Motherish', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
    margin: 20px;
}

.upCenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em; /* 30px/16=1.875em */
    border: #293141;
    border-style: solid none none none;
}

nav {
    background-color: #293141;
    position: fixed;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #F58A07;
}

h1 {
    font-size: 3em; /* 40px/16=2.5em */
    border: #293141;
    border-style: solid none solid none;
}

h2 {
    font-size: 2em; /* 30px/16=1.875em */
}

p {
    font-size: 1em; /* 14px/16=0.875em */
}

.blue
{
    color: #6CD4FF;
}

.green
{
    color: #23CE6B;
}

/* logo needs to be big and centered */
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.logo {
    background-color: #364156;
    text-align: center;
}

.languageImg {
    width: 267px;
    height: 300px;
}

.center
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* A 3x3 grid of images, all the same size.
    The images should be around 448x192 px, looks the best i think */
.collage {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #364156;
    padding: 10px;
}

.collage img {
    border-radius: 6px;
}

.collage img:hover {
    border-radius: 0px;
    border: 6px solid #293141;
}

/* contact form stuff */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #364156;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #F58A07;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }